html,body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family:  Helvetica, Arial,sans-serif;
}
/* .container{
    max-width: 1243px;
    width: 100%;
    margin: 0 auto;
} */

/* head section */

#header{
    /* background-color: grey; */
}

.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-cont .right-cont {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.header-brand{
    max-width: 100px;
}
.main-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav-item{
    color: #e5e5e5;
    margin-right: 20px;
    opacity: .87;
}
.nav-item.active{
    color: white;
    opacity: 1;
    font-weight: 400;
}
.right-cont svg{
    color: white;
}
.right-cont img{
  max-width: 30px;
}
.right-cont svg , .right-cont img {
    margin-right: 22px;
   

}
.right-cont, .left-cont{
    display: flex;
    align-items: center;
}

/* movie section */

.movie-section
{

}

.movie-section-heading{
font-size: 17.37px;
font-weight: 500;
line-height: 15.5125px;
color: #e5e5e5;;
}
.movie-section-heading:hover .movie-nudge{
    display: inline-block;
    cursor: pointer;
}

.movie-nudge{
color: #54b9c5;
font-size: 11px;
display: none;
}
.movies-row{
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    justify-content: space-evenly;
    align-items: center;
}
.movie-item{
width: 245px;
object-fit: contain;
border-radius: 6px;

}
.movie-item:hover{
    transform: scale(1.3);
    transition: transform ease 300ms;
}



/*  RESPONSIVE */

@media (max-width:767px){
    .main-nav{
        display: none;
    }
}